/* stylelint-disable declaration-no-important, length-zero-no-unit */
[data-groupname="quizaccess_quilgo_setting"] {
    margin-top: 20px;
}

[data-groupname="quizaccess_quilgo_setting"] .proctoring-enabled {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

[data-groupname="quizaccess_quilgo_setting"] .proctoring-disabled {
    display: none !important;
}

[data-groupname="quizaccess_quilgo_setting"] div:nth-child(2):not(.plasm-setting-option) {
    flex-direction: column !important;
    align-items: start !important;
}

[data-groupname="quizaccess_quilgo_setting"]>.col-form-label {
    padding-top: 0px !important;
}

.quilgo-upgrade-cta {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
