/* stylelint-disable declaration-no-important, length-zero-no-unit */
.path-mod-quiz .quilgo-hidden {
    display: none !important;
}

.path-mod-quiz .quilgo-video {
    position: relative;
    width: 275px;
    height: 208px;
    display: inline-block;
    margin: 10px;
}

.path-mod-quiz .quilgo-video video {
    width: 100%;
    height: 100%;
}

.path-mod-quiz .quilgo-iframe {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1020;
    height: 100%;
}

.path-mod-quiz .quilgo-iframe-loader {
    position: absolute;
    z-index: 1021;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    opacity: .8;
}

.path-mod-quiz label[for="id_quilgocheckfinished"], .path-mod-quiz label[for="quilgo-disable-device-warning-check"]{
    cursor: pointer;
}

.path-mod-quiz label[for="id_quilgocheckfinished"]:hover, .path-mod-quiz label[for="quilgo-disable-device-warning-check"]:hover {
    color: #0f6cbf;
}

.path-mod-quiz-accessrule-quilgo .quilgo-report-cover {
    max-width: 200px;
    max-height: 200px;
}

.path-mod-quiz-accessrule-quilgo .quilgo-report-frame {
    margin: 0 10px 10px 0;
    height: 29px;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
}

.path-mod-quiz-accessrule-quilgo .quilgo-image-item {
    width: 100px;
    border-width: 2px !important;
}

.path-mod-quiz-accessrule-quilgo .quilgo-image-item .border-transparent {
    border: 2px solid transparent !important;
}

.path-mod-quiz-accessrule-quilgo .quilgo-report-preview-img {
    position: absolute;
    top: -96px;
    left: -10px;
    padding: 2px;
    border-radius: 0;
    z-index: 2;
    height: 96px;
    background-color: black;
}

.path-mod-quiz-accessrule-quilgo .quilgo-report-questions {
    width: 100%;
    border: none;
}

#page-mod-quiz-accessrule-quilgo-questions .activity-header {
    display: none;
}

#page-mod-quiz-accessrule-quilgo-questions .que.ddimageortext div.ddarea {
    text-align: left !important;
}

#page-admin-search li:has(>a[href$="section=modsettingsquizcatquilgo"]) {
    display: none;
}
