{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template quizaccess_quilgo/email-confirmation
    Example context (json):
    {

    }
}}

<div class="p-2">
    <div class="quilgo-confirm-email-start">
        <h2 class="text-center">{{#str}} confirm_email_title, quizaccess_quilgo {{/str}}</h2>
        <div class="mt-4">{{#str}} confirm_email_short_desc, quizaccess_quilgo {{/str}}</div>
        <div class="mt-3 font-weight-bold">{{#str}} confirm_email_message, quizaccess_quilgo {{/str}}</div>
        <form class="quilgo-confirm-email-form mt-3">
            <div class="quilco-confirm-email-default-error-message alert alert-danger p-2 mb-3 small hidden">
                {{#str}} confirm_email_default_failed_message, quizaccess_quilgo {{/str}}
            </div>
            <input class="quilgo-confirm-email-input form-control form-control-lg text-center text-dark font-weight-bold" type="email" placeholder="john@academy.com" autocomplete="off" required>
            <button type="submit" class="quilgo-confirm-email-submit-button btn btn-lg btn-primary btn-block font-weight-bold mt-2">
                <i class="fa fa-circle-o-notch fa-spin quilgo-confirm-loading-icon hidden"></i>
                <span>{{#str}} confirm_email_button_text, quizaccess_quilgo {{/str}}</span>
            </button>
        </form>
        <div class="mt-3 text-center">
            <span role="button" class="quilgo-confirm-email-ask-later text-muted">
                {{#str}} confirm_email_ask_me_later, quizaccess_quilgo {{/str}}
            </span>
        </div>
    </div>
    <div class="quilgo-confirm-email-finish text-center hidden">
        <i class="fa fa-check-circle fa-4x text-success"></i>
        <h3 class="mt-3 mb-0 font-weight-bold">{{#str}} confirm_email_finished, quizaccess_quilgo {{/str}}</h3>
    </div>
</div>
