{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template quizaccess_quilgo/report-preview
    Example context (json):
    {

    }
}}

<div class="mb-1">
    <div class="d-flex small">
        <div class="flex-grow-1">
            <span>{{#str}} report_preview_time, quizaccess_quilgo {{/str}}</span>
            <span class="text-capitalize quilgo-preview-time">-</span>
            <span class="quilgo-preview-faces-detected quilgo-hidden">-</span>
            <span class="quilgo-preview-page-unfocused quilgo-hidden">{{#str}} report_preview_page_unfocused, quizaccess_quilgo {{/str}}</span>
        </div>
        <div>
            <a class="quilgo-preview-prev disabled mr-1">
                <i class="fa fa-chevron-left fa-lg"></i>
            </a>
            <a class="quilgo-preview-next disabled">
                <i class="fa fa-chevron-right fa-lg"></i>
            </a>
        </div>
    </div>
</div>
<img class="w-100 quilgo-preview-image" src="#" alt="quilgo-preview-image">
