{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template quizaccess_quilgo/report
    Example context (json):
    {

    }
}}

<div class="d-flex justify-content-center quilgo-report-loader quilgo-hidden">
    <div class="spinner-border text-primary"></div>
</div>
<div class="d-flex justify-content-center quilgo-report-error quilgo-hidden">
    <div class="alert alert-danger">
        {{#str}} report_error, quizaccess_quilgo {{/str}}
    </div>
</div>
<div class="d-flex justify-content-center quilgo-report-not-ready quilgo-hidden">
    <div class="alert alert-warning">
        {{#str}} report_notready, quizaccess_quilgo {{/str}}
    </div>
</div>
<div class="quilgo-report-contents quilgo-hidden">
    <div class="d-flex justify-content-center quilgo-report-expired quilgo-hidden">
        <div class="alert alert-warning">
            {{#str}} report_expired, quizaccess_quilgo {{/str}}
        </div>
    </div>
    <div class="d-flex justify-content-start mb-4">
        <img class="quilgo-report-cover rounded loadable-img" src="#" alt="quilgo-report-cover-image">
    </div>
    <div>
        <div class="d-flex flex-row mb-0">
            <strong>{{#str}}report_proctoring_methods, quizaccess_quilgo{{/str}}</strong>
            <span>&nbsp;{{#str}}report_setting_focus, quizaccess_quilgo{{/str}}</span>
            <span class="quilgo-report-camera-enabled quilgo-hidden">,&nbsp;{{#str}} report_setting_camera, quizaccess_quilgo {{/str}}</span>
            <span class="quilgo-report-screen-enabled quilgo-hidden">,&nbsp;{{#str}} report_setting_screen, quizaccess_quilgo {{/str}}</span>
        </div>
        <div class="mb-3">
            <div class="quilgo-report-stat quilgo-hidden">
                <p class="mb-0 quilgo-hidden">
                    <strong>{{#str}}report_face_presence, quizaccess_quilgo{{/str}}</strong>
                    <span class="quilgo-report-face-presence">-</span>
                </p>
                <p class="mb-0">
                    <strong>{{#str}}report_left_test, quizaccess_quilgo{{/str}}</strong>
                    <span class="quilgo-report-page-unfocused quilgo-hidden">-</span>
                </p>
                <p class="mb-0 quilgo-report-patterns-detected quilgo-hidden text-danger">
                    <strong>{{#str}}report_patterns_detected, quizaccess_quilgo{{/str}}</strong>
                    <span class="quilgo-report-patterns-detected-value">-</span>
                </p>
                <p class="mb-0 quilgo-report-used-multiple-screens quilgo-hidden text-danger">
                    <strong>{{#str}}report_patterns_used_multiple_screens, quizaccess_quilgo{{/str}}</strong>
                    <span class="quilgo-report-used-multiple-screens-value">-</span>
                </p>
            </div>
            <p class="mb-0 suspicious-screenshots-contents quilgo-hidden">
                <strong>{{#str}}report_suspicious_screenshots, quizaccess_quilgo{{/str}}</strong>
                <span class="quilgo-report-suspicious-screenshots text-danger">-</span>
            </p>
            <div class="alert alert-info mt-2 quilgo-preview-info quilgo-hidden">
                <i class="fa fa-info-circle"></i>
                <span>{{#str}}report_preview_info, quizaccess_quilgo{{/str}}</span>
            </div>
            <div class="alert alert-warning mt-2 quilgo-settings-recommendation quilgo-hidden">
                <i class="fa fa-info-circle"></i>
                <span class="quilgo-settings-recommendation-contents"></span>
            </div>
        </div>
        <div class="quilgo-report-images quilgo-hidden">
            <div class="mb-2 page-break-inside-avoid quilgo-report-snapshots quilgo-hidden">
                <p class="mb-1">
                    <strong>{{#str}}report_camera_tracking, quizaccess_quilgo{{/str}}</strong>
                    <span class="quilgo-report-snapshots-time">-</span>
                </p>
                <div class="d-flex flex-wrap quilgo-report-snapshots-contents"></div>
            </div>
            <div class="page-break-inside-avoid quilgo-report-screenshots quilgo-hidden">
                <p class="mb-1">
                    <strong>{{#str}}report_screen_tracking, quizaccess_quilgo{{/str}}</strong>
                    <span class="quilgo-report-screenshots-time">-</span>
                </p>
                <div class="d-flex flex-wrap quilgo-report-screenshots-contents"></div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center my-2 text-primary quilgo-report-expiresin quilgo-hidden">
        <i class="fa fa-info-circle mr-1"></i>
        <span class="quilgo-report-expiresin-caption">-</span>
    </div>
    <div class="d-flex justify-content-center quilgo-report-questions-loader quilgo-hidden">
        <div class="spinner-border text-primary"></div>
    </div>
    <iframe class="quilgo-report-questions quilgo-hidden"></iframe>
</div>
